/**NAV**/

nav {

    ul {
        align-items: center;
    }

    a {
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        margin: 10px;
        font-size: 20px;
    }
}

.navbar-brand {
    margin: 0px;
}


/**HEADER**/
header {
    display: none;
}